<footer>
<div class="footerbg">
	<div class="clr height20"></div>
	<div class="container">
	<div class="col-sm-5 pad5">
		<div class="footerlogo"><img src="assets/images/logo.png" alt="" class="img-responsive" ></div>
		<div class="clr height20"></div>
		<p class="text-white con-gap">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...</p>
		
		<div class=" clr"></div>
		
	<div class="input-group textfildstyle">
	<input type="text" class="form-control " placeholder="Enter your email">
	<span class="input-group-btn"><button type="submit" class="btn btnsubmit">SUBSCRIBE</button></span> 
	</div>
		
	<div class="clr height10"></div>	
		
	<div class="footer-social-block">
	<app-social></app-social>
	</div>	
		
		</div>
	<div class="col-sm-5 pad5">
		<h3 class="heading-style text-white">Frequently Asked Questions</h3>
		<div class="clr"></div>
		<ul class="footer-menu">
		<li><a href="">Privacy & Seurty</a></li>
		<li><a href="">Communications</a></li>
		<li><a href="">Lending Licnses</a></li>
		<li><a href="">How It Works</a></li>
		<li><a href="">Underwriting</a></li>
		<li><a href="">Lending Licnses</a></li>
		<li><a href="">Terms of Serice</a></li>
		<li><a href="">Referral Terms</a></li>
		<li><a href="">Support</a></li>
		<li><a href="">For Employers</a></li>
		<li><a href="">Contact us</a></li>
		<li><a href="">Support</a></li>
		</ul>
		</div>
	<div class="col-sm-2 pad5">
		<h3 class="heading-style text-white">Find Jobs</h3>
		<div class="clr"></div>
		<ul class="footer-menu full">
		<li><a href="">US Jobs</a></li>
		<li><a href="">Canada Jobs</a></li>
		<li><a href="">UK Jobs</a></li>
		<li><a href="">Emplois en Fnce</a></li>
		<li><a href="">Jobs in Deuts</a></li>
		<li><a href="">Vacatures China</a></li>
		</ul>
		</div>
	</div>
</div>
	
<div class="copyright">
	@ copyright 2021 godiscoverme, All Rights Reserved.
</div>	
</footer>
