<section class="other-banner">
<div class="banner-content">
	<h2>Post a Job</h2>
</div>
<img src="assets/images/slider/other-banner.jpg" alt="">
</section>

<section class="bg-off">
<div class="container">
<div class="height20 clr"></div>

<div class="wrapper">
<div class="left-sidebar">
<ul class="post-a-job">
<li>
<div class="jobcontentblock">
<small class="dateblock"><i class="icon-calendar"></i> 12 Feb, 2021</small>	
<h4>One 30 Day Job Posting</h4>

<div class="clr height5"></div>	
<p class="text-off">One Recruitment Queen (RQ) 30-day job posting will reach thousands of active and passive job seekers in Bucks County across relevant local, industry, niche, and diversity job boards, social networks and job search engine aggregators to provide fast, targeted results. </p>
<div class="clr height10"></div>

<div class="col-sm-12 pad0">
<p><strong class="lineblock"># of Jobs: 1  |  Job Posting Length: 30 Days</strong></p>	
<p><strong class="lineblock">Also Includes :</strong> </p>
	<div class="in-cludetxt">
	<span>Profile Database Access</span>
<!--	<span>Featured Job</span>-->
	</div>
</div>
<div class="price-post">
<span class="price">$179.00</span>
<a routerLink="/jobpost" class="btn btn-style"><strong>POST JOB <i class="icon-arrow-right"></i></strong></a>	
	</div>	
</div>
</li>
	
<li>
<div class="jobcontentblock">
<small class="dateblock"><i class="icon-calendar"></i> 12 Feb, 2021</small>	
<h4>30 Day Job Posting with Featured Job</h4>

<div class="clr height5"></div>	
<p class="text-off">Our Recruitment Queen (RQ) 30-day job posting will reach thousands of active and passive job seekers in Bucks County across relevant local, industry, niche, and diversity job boards, social networks and job search engine aggregators to provide fast, targeted results. We'll also list it as a Featured Job on our homepage. Learn more $219  </p>
<div class="clr height10"></div>

<div class="col-sm-12 pad0">
<p><strong class="lineblock"># of Jobs: 1  |  Job Posting Length: 30 Days</strong></p>	
<p><strong class="lineblock">Also Includes :</strong> </p>
	<div class="in-cludetxt">
	<span>Profile Database Access</span>
	<span>Featured Job</span>
	</div>
</div>
<div class="price-post">
<span class="price">$219.00</span>
<a routerLink="/jobpost" class="btn btn-style"><strong>POST JOB <i class="icon-arrow-right"></i></strong></a>	
	</div>	
</div>
</li>
	
<li>
<div class="jobcontentblock">
<small class="dateblock"><i class="icon-calendar"></i> 12 Feb, 2021</small>	
<h4>Two 30 Day Job Postings</h4>

<div class="clr height5"></div>	
<p class="text-off">One Recruitment Queen (RQ) 30-day job postings will reach thousands of active and passive job seekers in Bucks County across relevant local, industry, niche, and diversity job boards, social networks and job search engine aggregators to provide fast, targeted results. Buy two postings and save $48. Postings are good for 12 months from date of purchase. </p>
<div class="clr height10"></div>

<div class="col-sm-12 pad0">
<p><strong class="lineblock"># of Jobs: 2  |  Job Posting Length: 30 Days</strong></p>	
<p><strong>Expires: 365 Days</strong></p>	
<p><strong class="lineblock">Also Includes :</strong> </p>
	<div class="in-cludetxt">
	<span>Profile Database Access</span>
<!--	<span>Featured Job</span>-->
	</div>
</div>
<div class="price-post">
<span class="price">$219.00</span>
<a routerLink="/jobpost" class="btn btn-style"><strong>POST JOB <i class="icon-arrow-right"></i></strong></a>	
	</div>	
</div>
</li>

<li>
<div class="jobcontentblock">
<small class="dateblock"><i class="icon-calendar"></i> 12 Feb, 2021</small>	
<h4>Five Job Postings</h4>

<div class="clr height5"></div>	
<p class="text-off">Our Recruitment Queen (RQ) 30-day job postings will reach thousands of active and passive job seekers in Bucks County across relevant local, industry, niche, and diversity job boards, social networks and job search engine aggregators to provide fast, targeted results. Buy 5 postings and save $100. Postings are good for 12 months from date of purchase. </p>
<div class="clr height10"></div>

<div class="col-sm-12 pad0">
<p><strong class="lineblock"># of Jobs: 2  |  Job Posting Length: 30 Days</strong></p>	
<p><strong>Expires: 365 Days</strong></p>	
<p><strong class="lineblock">Also Includes :</strong> </p>
	<div class="in-cludetxt">
	<span>Profile Database Access</span>
<!--	<span>Featured Job</span>-->
	</div>
</div>
<div class="price-post">
<span class="price">$795.00</span>
<a routerLink="/jobpost" class="btn btn-style"><strong>POST JOB <i class="icon-arrow-right"></i></strong></a>	
	</div>	
</div>
</li>
	
<li>
<div class="jobcontentblock">
<small class="dateblock"><i class="icon-calendar"></i> 12 Feb, 2021</small>	
<h4>Ten Job Postings</h4>

<div class="clr height5"></div>	
<p class="text-off">Our Recruitment Queen (RQ) 30-day job postings will reach thousands of active and passive job seekers in Bucks County across relevant local, industry, niche, and diversity job boards, social networks and job search engine aggregators to provide fast, targeted results. Buy 10 postings and save $250. Postings are good for 12 months from date of purchase. </p>
<div class="clr height10"></div>

<div class="col-sm-12 pad0">
<p><strong class="lineblock"># of Jobs: 10  |  Job Posting Length: 30 Days</strong></p>	
<p><strong>Expires: 365 Days</strong></p>	
<p><strong class="lineblock">Also Includes :</strong> </p>
	<div class="in-cludetxt">
	<span>Profile Database Access</span>
<!--	<span>Featured Job</span>-->
	</div>
</div>
<div class="price-post">
<span class="price">$1,440.00</span>
<a routerLink="/jobpost" class="btn btn-style"><strong>POST JOB <i class="icon-arrow-right"></i></strong></a>	
	</div>	
</div>
</li>
	

<li>
<div class="jobcontentblock">
<small class="dateblock"><i class="icon-calendar"></i> 12 Feb, 2021</small>	
<h4>25 Job Postings</h4>

<div class="clr height5"></div>	
<p class="text-off">Our Recruitment Queen (RQ) 30-day job postings will reach thousands of active and passive job seekers in Bucks County across relevant local, industry, niche, and diversity job boards, social networks and job search engine aggregators to provide fast, targeted results. Buy 25 postings and save $1350. Postings are good for 12 months from date of purchase. </p>
<div class="clr height10"></div>

<div class="col-sm-12 pad0">
<p><strong class="lineblock"># of Jobs: 10  |  Job Posting Length: 30 Days</strong></p>	
<p><strong>Expires: 365 Days</strong></p>	
<p><strong class="lineblock">Also Includes :</strong> </p>
	<div class="in-cludetxt">
	<span>Profile Database Access</span>
<!--	<span>Featured Job</span>-->
	</div>
</div>
<div class="price-post">
<span class="price">$3,125.00</span>
<a routerLink="/jobpost" class="btn btn-style"><strong>POST JOB <i class="icon-arrow-right"></i></strong></a>	
	</div>	
</div>
</li>
	
</ul>
<div class="clr"></div>	
</div>
	
<div class="right-sidebar">
<app-right-sidebar></app-right-sidebar>
</div>
	
</div>
</div>
	<div class="clr height5"></div>
</section>
