<section class="other-banner">
<div class="banner-content">
	<h2>Career Advice</h2>
</div>
<img src="assets/images/slider/other-banner.jpg" alt="">
</section>

<section class="bg-off">
<div class="container">
<div class="height20 clr"></div>

<div class="wrapper">
<div class="left-sidebar">
<ul class="career-advice">
	<li>
	<a routerLink="/career-view" class="jobcontentblock">
	<small class="dateblock"><i class="icon-calendar"></i> 10 Dec, 2020</small>	
	<div class="imgblock">
	<img src="assets/images/career/career-01.jpg" alt="" class="img-size">	
	</div>
	<div class="contentblock">	
	<h4>Get Hired at the New Year Job Fair</h4>
	<div class="clr height5"></div>	
	<p class="text-off">Despite the current low unemployment rate, employers are looking to fill positions locally in the Bucks County area and if you are looking, this could be your chance to get hired. RecruitmentQueen is hosting their annual New Year, New Career Job Fair on Tuesday, January 14th, 2020. The job fair is a multi-industry event which means you will be able to talk to employers from diverse industries ranging from sales to healthcare, financial to customer service and much more. </p>
	</div>	
	</a>
	</li>
	
	<li>
	<a routerLink="/career-view" class="jobcontentblock">
	<small class="dateblock"><i class="icon-calendar"></i> 10 Dec, 2020</small>	
	<div class="imgblock">
	<img src="assets/images/career/career-02.jpg" alt="" class="img-size">	
	</div>
	<div class="contentblock">	
	<h4>Get Hired at the Montgomery County Spring Job Fair</h4>
	<div class="clr height5"></div>	
	<p class="text-off">Despite the current low unemployment rate, employers are looking to fill positions locally in the Bucks County area and if you are looking, this could be your chance to get hired. RecruitmentQueen is hosting their annual New Year, New Career Job Fair on Tuesday, January 14th, 2020. The job fair is a multi-industry event which means you will be able to talk to employers from diverse industries ranging from sales to healthcare, financial to customer service and much more. </p>
	</div>	
	</a>
	</li>
	
	<li>
	<a routerLink="/career-view" class="jobcontentblock">
	<small class="dateblock"><i class="icon-calendar"></i> 10 Dec, 2020</small>	
	<div class="imgblock">
	<img src="assets/images/career/career-03.jpg" alt="" class="img-size">
	</div>
	<div class="contentblock">	
	<h4>Struggling to Find a Job? Could this book help? </h4>
	<div class="clr height5"></div>	
	<p class="text-off">Despite the current low unemployment rate, employers are looking to fill positions locally in the Bucks County area and if you are looking, this could be your chance to get hired. RecruitmentQueen is hosting their annual New Year, New Career Job Fair on Tuesday, January 14th, 2020. The job fair is a multi-industry event which means you will be able to talk to employers from diverse industries ranging from sales to healthcare, financial to customer service and much more. </p>
	</div>	
	</a>
	</li>
	
</ul>
<div class="clr"></div>	
<nav aria-label="Page navigation example">
  <ul class="pagination pagination-gap">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>	
</div>
	
<div class="right-sidebar">
<app-right-sidebar></app-right-sidebar>
</div>
	
</div>
</div>
<div class="clr height5"></div>
</section>
