<section class="other-banner">
<div class="banner-content">
	<h2>Forgot your password?</h2>
</div>
<img src="assets/images/slider/other-banner.jpg" alt="">
</section>

<section class="bg-off">
<div class="container">
<div class="signupblock display-flex">
<div class="col-sm-6 pad0">
<div class="imgbox">
<div class="l-logo"><img src="assets/images/logo.png" alt="" class="img-responsive"></div>
<img src="assets/images/about.jpg" alt="" class="imgsize">
</div>
</div>
<div class="col-sm-6 pad0">
<div class="loginbox">
	<h2 class="text-center">Forgot your password?</h2>
	<div class="clr height10"></div>
	<form>
	<div class="form-group">
	<input type="email" class="form-control" placeholder="Email Address" >
	</div>

	<div class="form-group">
	<button class="btn btn-search btn-style"><i class="icon-mail"></i> Send me reset password instructions</button>
	</div>	

	</form>
	</div>	
	
</div>
</div>
</div>
</section>

