
<div class="testimonial">
<h3 class="heading-style">Testimonial</h3>
<div class="clr"></div>
<div id="mytestimonial" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
<div class="item active">      

<div class="user-tl"><img src="assets/images/testimonial/user.jpg" alt="" class="img-tl"></div>	
<div class="clr height10"></div>
<div class="testimonial-content">
<p>I just got a job that I
applied for via careerfy! I
used the site all the time
during my job hunt.</p>
</div>
<div><em><strong>Richard Anderson
</strong></em></div>
<p><small>Nevada. USA</small></p>

</div>

<div class="item ">      
<div class="user-tl"><img src="assets/images/testimonial/user2.jpg" alt="" class="img-tl"></div>	
<div class="clr height10"></div>
<div class="testimonial-content">
<p>I just got a job that I
applied for via careerfy! I
used the site all the time
during my job hunt.</p>
</div>
<div><em><strong>Richard Anderson
</strong></em></div>
<p><small>Nevada. USA</small></p>
</div>
</div>

<!-- Left and right controls -->
<div class="arrowblock">
<a class="left carousel-control" href="#mytestimonial" data-slide="prev">
<i class="icon-arrow-left"></i>
</a>
<a class="right carousel-control" href="#mytestimonial" data-slide="next">
<i class="icon-arrow-right"></i>
</a>
</div>	
</div>	
</div>	
	
<div class="candidates-are-sys">
	
<h3 class="heading-style">News feed</h3>
<div class="clr height5"></div>	
<div id="myCarousel" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
<div class="item active">      
<a href="">					
<h4> PA Senators Toomey, Casey Vote To Convict Former Presid…</h4>
<p>The U.S. Senate voted on Saturday to acquit former President Donald Trump on a charge of inciting th…</p>							
<div class="item-date"><i class="icon-calendar"></i> 19 Jan, 2021</div>						
</a>  
</div>

<div class="item">
<a href="">					
<h4>Census Data Delay Could Put
Transparency In PA's Redist…</h4>
<p>The data needed to redraw Pennsylvania's
political districts is more than five months
behind schedul…</p>							
<div class="item-date"><i class="icon-calendar"></i> 19 Jan, 2021</div>						
</a> 
</div>
	
<div class="item">
<a href="">					
<h4>Police Log: $5,750 In Tools
Stolen, PFA Violation & Mor.</h4>
<p>See the latest incidents in Bristol
Township. The post Police Log: S5,750 In
Tools Stolen, PFA Viola…</p>							
<div class="item-date"><i class="icon-calendar"></i> 19 Jan, 2021</div>						
</a> 
</div>

</div>

<!-- Left and right controls -->
<div class="arrowblock">
<a class="left carousel-control" href="#myCarousel" data-slide="prev">
<i class="icon-arrow-left"></i>
</a>
<a class="right carousel-control" href="#myCarousel" data-slide="next">
<i class="icon-arrow-right"></i>
</a>
</div>	
</div>	

</div>
<div class="clr"></div>	
<div class="online-resume">
<div class="content-resume">
<h3>Make a Difference with Your Online Resume!</h3>
<div class="clr height10"></div>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
<div class="clr height10"></div>
<a href="" class="btn btn-style"><strong>Create an Account</strong></a>
</div>
<div class="overlay-img"></div>
<img src="assets/images/online-resume.jpg" alt="" class="imgblock">
</div>		

