<section class="container">
	<div class="col-lg-12 pad5">
	<form class="job-search">
	<ul>
	<li><input type="text" class="form-control" placeholder="Keyword" ></li>	
	<li><input type="text" class="form-control" placeholder="Location" ></li>	
	<li class="select-wrapper">
	<select name="select" class="form-control select">
	<option value="opt1">Select Industry</option>
	<option value="opt2">Option 2</option>
	<option value="opt3">Option 3</option>
	<option value="opt4">Option 4</option>
	</select>
	</li>	
		
	<li><button class="btn btn-search btn-style"><i class="icon-search"></i> Search Job</button></li>	
	</ul>
	</form>
	</div>	
</section>
