<section class="fixed_img sec-bg1">
<div class="fixed-overlay"></div>
<div class="container block-paralax">
<div class="col-lg-12 pad5">
<h2 class="heading-style text-white">Latest Jobs</h2>
</div>
<div class="clr"></div>
	
<ul class="latest-jobs">
	<li>
	<div class="boxblock">
	<div class="ribbon-wrapper"><div class="ribbon">Urgent!</div></div>	
	<div class="blockcontent">
	<div class="imgblock"><img src="assets/images/co-logo/thumb_SYKES-Logo.png" alt=""  ></div>
	<div class="contentblock">
	<h4>Call Center Representatives - Temporarily Remote</h4>
	<p>
		<span class="lineblock"><i class="icon-cottage-industry"></i> Sykes Enterprises</span>
		<span class="lineblock"><i class="icon-location"></i> Langhorne, PA, USA</span> 
	</p>	
	<div class="clr"></div>
		<a routerLink="/Job-from-view" class="btn btn-style">VIEW JOB</a>
		<span class="ldate"><i class="icon-calendar"></i> 19 Jan, 2021</span>
	</div>
	</div>
	</div>
	</li>
	<li>	
	<div class="boxblock">
	<div class="ribbon-wrapper"><div class="ribbon">Urgent!</div></div>	
	<div class="blockcontent">
	<div class="imgblock"><img src="assets/images/co-logo/first_national.png" alt=""  ></div>
	<div class="contentblock">
	<h4>Banking Representative - Excellent Benefits</h4>
	<p>
		<span class="lineblock"><i class="icon-cottage-industry"></i> The First National Bank of Newtown</span>
		<span class="lineblock"><i class="icon-location"></i> Newtown, PA, United States</span> 
	</p>
	<div class="clr"></div>
	<a routerLink="/Job-from-view" class="btn btn-style">VIEW JOB</a>
	<span class="ldate"><i class="icon-calendar"></i> 19 Jan, 2021</span>	
	</div>
	</div>
	</div>
	</li>
	<li>	
	<div class="boxblock">
	<div class="ribbon-wrapper"><div class="ribbon">Urgent!</div></div>	
	<div class="blockcontent">
	<div class="imgblock"><img src="assets/images/co-logo/profile_Traffic-Plan-Logo-smaller.webp" alt=""  ></div>
	<div class="contentblock">
	<h4>Recruiter</h4>
	<p>
		<span class="lineblock"><i class="icon-cottage-industry"></i> Traffic Plan</span>
		<span class="lineblock"><i class="icon-location"></i> King of Prussia, PA, USA</span> 
	</p>
	<div class="clr"></div>
		<a routerLink="/Job-from-view" class="btn btn-style">VIEW JOB</a>	
		<span class="ldate"><i class="icon-calendar"></i> 19 Jan, 2021</span>
	</div>
	</div>
	</div>	
	</li>

</ul>

</div>
</section>
