
<div class="container">
<div class="col-lg-12 pad5">
<div class="daily-job-post">
<div class="leftimg"><img src="assets/images/online_resume.jpg" alt="" class="imgsize"></div>
<div class="rightcontent">
<h2 class="text-center">Daily Job Post</h2>
<div class="clr height10"></div>
<ul class="post-listing" id="counter">
	<li>
	<div class="counter-value" data-count="300">0</div>
	<div class="namepost">Job Available</div>
	</li>

	<li>
	<div class="counter-value" data-count="400">100</div>
	<div class="namepost">Companies</div>
	</li>

	<li>
	<div class="counter-value" data-count="1500">200</div>
	<div class="namepost">Appointed to Job</div>
	</li>
</ul>
</div>
</div>
<div class="clr height10"></div>	
</div>
</div>

